body {
  background-color: rgb(111, 111, 111);
  background-size: cover;
  background-image: url(typescriptback.jpg) no-repeat, center, middle;
  
}

p {
  margin: 5px;
  text-align: justify;
  height: 120%;
}

#content {
  margin: 0 auto 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 30px;
  background: 80%;
  padding: 30px;
}

a {
  color: black;
  text-decoration: none;
}

#picture {
  float: right;
  height: 257px;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
}

li {
  margin-left: 15px;
  list-style-type: square;
}

table {
  width: 80%;
  margin: auto;
  border: 1px; 
  border-color: gray;
  padding: 5px;
  text-align: center;
}
span{
  color: #087ac8;
  font-weight: bold;
}
.szamolas{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.8rem;
}
th{
  color: white;
  background-color: #087ac8;
}

a:hover{
  color: #087ac8;
  text-decoration: none;
}